<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/main-layout.css" />
  <link rel="stylesheet" href="static/css/content_box.css" />
  <link rel="stylesheet" href="static/css/sidebar-layout.css" />
</head>
<body>
    <div>HEADER</div>
    <div class="app-layout">
        <div id="db-list" class="db-list">DATABASE SUMMARY</div>
        <div class="separator"></div>
        <div id="collections-list" class="collections-list">Collections</div>
        <div class="separator"></div>
        <div id="collection-details">Div1</div>
    </div>
<script src="static/js/db-details.js"></script>
</body>
</html>
